# ===== FRONTEND =====
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# ===== BACKEND =====
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/db.sqlite3
backend/.env
backend/staticfiles/
backend/venv/
backend/env/
backend/*.egg-info/

# ===== General =====
.DS_Store
Thumbs.db
*.log
